*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;

}
html{
    scroll-behavior: smooth;
}
body{
    background-color: black;
    color: rgb(255, 255, 255);
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(IMG_20230702_050935-removebg-preview.png);
    background-color: black;
    background-size: cover;
    background-position: center;
}
.container{
    padding: 0 10%;
    
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 140px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: #fff;
    /* text-shadow: aqua; */
   text-decoration: none;
    font-size: 18px;
    /* font-weight: bolder; */
    /* transform: scale(1.3); */
    position: relative;
}
nav ul li a::after{  /*word ke nniche line*/
    content: '';
    /* color: rgb(255, 0, 149); */
    width: 0%;
    height: 3px;
    background:cyan ;
    /* border-radius: 5px; */
    position: absolute;
    left: 0; 
    bottom: -3px;
    /* transition: ease-in; */
    transition: 0.7s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 20% ;
    font-size: 20px;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1 span{
    color: aqua;
}
/* a{
    text-decoration: none;
} */

/* <!-- ----------About-------- --> */

#about{
    padding: 80px 0;
    columns: #e2d4d4;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
 .about-col-1{
    flex-basis: 35%;
 }
 .about-col-1 img{
    height: 500px;
    width: 350px;
    flex-basis: 100%;
    border-radius: 15px;
 }
 .about-col-2{
    flex-basis: 50%;
 }
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500px;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -4px;
    transition: 0.5s ;

}
.tab-links.active-link::after{
    background: cyan;
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: cyan;
    font-size: 16px;
}
.tab-contents{
    display: none ; /*to show nothing on the screen*/
}
.tab-contents.active-tab{
    display: block;
}

/* -----------services------------ */
#Services{
    padding: 30px 0;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.8s; /*jisme transition dena rehta h transition likhkr uska name likh dete hn*/
}
.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover{
    background: rgb(15, 58, 58);
    transform:translatex(20px);
    transform: scale(1.1);
}

/* ---------------portfolio----------- */
#portfolio{
    padding: 50px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 310px;
    border-radius: 10px;
    display: block;
    transition: transform 0.9s; /*jisme transition dena rehta h transition likhkr uska name likh dete hn*/
}
.layer{
    width: 100%;
    height: 0%; /*isko yha zero taki baad m hover krne pr ye puri heigt ka dikhe avi hi nh*/
    background: linear-gradient(rgba(0,0,0,0.6), cyan);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.9s;
}
.layer h3{
    font-weight: 500;
    padding-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color:#1500ff ;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
     border-radius: 50%;
     text-align: center;
}
.work:hover img{
    
    transform: scale(0.7);
}
.work:hover .layer{
    height:100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid cyan;
    padding: 14px 50px;
    text-decoration: none;
    color: white;
    transition: background 0.5s; /*jisme transition dena rehta h transition likhkr uska name likh dete hn*/
    font-size: 20px;
    
}
.btn:hover{
    background: rgb(5, 88, 88);
}

/* -------------contact----------- */
.contact-left{
    flex-basis: 35%;
    color:cyan;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 20px;
    margin-left: 40px;
}
.contact-left p i{
    color: rgb(20, 208, 208);
    margin-right: 15px;
    font-size: 20px;
    
}
.social-icons{
    margin-top: 20px;
    margin-left: 40px;
    font-size: 20px;
    
}
.social-icons a{
    color:cyan ;
    display: inline-block;
    margin-right: 10px;
    text-decoration: none;
    transition: transform 0.5s;
}
.social-icons a:hover{
    transform: translatey(-5px);
    color:rgb(187, 26, 31) ;
    transform: scale(1.3);
}
.btn.btn2{
    display: inline-block;
    background-color:cyan;
   
    
    border: 5px;
    color: #030202;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}
.btn.btn2:hover{
    background-color: #ff004f;
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: 0;
    background:#262626 ;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;

}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright{
    padding: 25px 0;
    width: 100%;
    text-align: center;
    background: #262626;
    font-weight: 300;

    margin-top: 20px;
    bottom: 0;
}
.copyright i{
    color: cyan;
}

/* -------------css for small screen---------- */
nav .fa-solid{
    display: none;
}
@media only screen and(max-width:640px){
    .header{
        background-image: url(phone-background.png);
    }
    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 30px;
    }
    nav .fa-solid{
        display: block;
        font-size:25px ;
    }
    nav ul{
        background: cyan;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .sub-title{
        font-size: 40px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom:30px ;
    }
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    .copyright{
        font-size: 14px;
    }
} 
#msg{
    color: #7bff00;
    margin-top: -40px;
    display: block;
    
    }